{% extends "base.html" %}

{% block title %}
Product Details
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    {% block content %}
    <div class="font-[sans-serif] bg-white">
        <div class="p-6 lg:max-w-7xl max-w-4xl mx-auto">
          <div class="grid items-start grid-cols-1 lg:grid-cols-5 gap-12 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] p-6">
            <div class="lg:col-span-3 w-full lg:sticky top-0 text-center">
                <div class="px-4 py-6 lg:py-10 rounded-xl shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-1/2 lg:w-1/2 rounded-lg object-cover mx-auto" />
                    <button type="button" class="absolute top-2 right-2 lg:top-4 lg:right-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" fill="#ccc" class="mr-1 hover:fill-[#333]" viewBox="0 0 64 64">
                            <path d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z" data-original="#000000"></path>
                        </svg>
                    </button>
                </div>
            </div>
            
            <div class="lg:col-span-2">
              <h2 class="text-2xl font-extrabold text-[#333]">{{ product.name }}</h2>
              <div class="flex flex-wrap gap-4 mt-6">
                <p class="text-[#333] text-4xl font-bold">${{ product.price }}</p>
              </div>
              <div class="flex space-x-2 mt-4">
                <svg class="w-5 fill-[#333]" viewBox="0 0 14 13" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
                <svg class="w-5 fill-[#333]" viewBox="0 0 14 13" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
                <svg class="w-5 fill-[#333]" viewBox="0 0 14 13" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
                <svg class="w-5 fill-[#333]" viewBox="0 0 14 13" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
                <svg class="w-5 fill-[#CED5D8]" viewBox="0 0 14 13" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                </svg>
              </div>
              <div class="mt-10">
                <h3 class="text-lg font-bold text-gray-800">Choose a Color</h3>
                <div class="flex flex-wrap gap-4 mt-4">
                  <button type="button" class="w-12 h-12 bg-black border-2 border-white hover:border-gray-800 rounded-full shrink-0"></button>
                  <button type="button" class="w-12 h-12 bg-gray-300 border-2 border-white hover:border-gray-800 rounded-full shrink-0"></button>
                  <button type="button" class="w-12 h-12 bg-gray-100 border-2 border-white hover:border-gray-800 rounded-full shrink-0"></button>
                  <button type="button" class="w-12 h-12 bg-blue-400 border-2 border-white hover:border-gray-800 rounded-full shrink-0"></button>
                </div>
              </div>
              <div>
                <p class="mt-6 text-[#333]" style="font-family: 'Poppins', sans-serif; font-optical-sizing: auto;">Description: {{ product.description }}</p>
              </div>
              <div class="flex flex-wrap gap-4 mt-10">
                <button type="button" class="min-w-[200px] px-4 py-3 bg-gray-900 hover:bg-[#111] text-white text-sm font-bold rounded">Buy now</button>
                <a href="{% url 'add_to_cart' product.id %}" class="min-w-[200px] px-4 py-2.5 text-black text-center border border-gray-800 bg-transparent hover:bg-gray-900 hover:text-white text-sm font-bold rounded">Add to cart</a>
              </div>
            </div>
          </div>
          <div class="mt-16 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] p-6" style="font-family: 'Poppins', sans-serif; font-optical-sizing: auto;">
            <h3 class="text-lg font-bold text-[#333]">Product information</h3>
            <ul class="mt-6 space-y-6 text-[#333]">
              <li class="text-sm">RATING <span class="ml-4 float-right">{{ product.rating }}</span></li>
              <li class="text-sm">CATEGORY <span class="ml-4 float-right">{{ product.category }}</span></li>
              <li class="text-sm">MANUFACTURER <span class="ml-4 float-right">{{ product.manufacturer }}</span></li>
              <li class="text-sm">PRODUCTION DATE <span class="ml-4 float-right">{{ product.production_date }}</span></li>
              <li class="text-sm">PRODUCT SELLER <span class="ml-4 float-right">{{ product.seller }}</span></li>
              <li class="text-sm">ANTI COUNTERFEIT CODE <span class="ml-4 float-right">{{ product.anti_counterfeit_code }}</span></li>
              <li class="text-sm">PRODUCT SERIAL NUMBER <span class="ml-4 float-right">{{ product.serial_number }}</span></li>
              <li class="text-sm">IN STOCK <span class="ml-4 float-right">{{ product.stock }}</span></li>
            </ul>
          </div>
         
        </div>
      </div>



{% endblock %}
    
</body>
</html>
